@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller-Bold.otf");
}
/* line 13, ../sass/style.sass */
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-use-text-color: #FFFFFF;
  border-color: #EEEEEE;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

/* line 24, ../sass/style.sass */
.bg_1 {
  background-image: url("../img/bg_1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
}

/* line 34, ../sass/style.sass */
.container {
  margin: 0 auto;
  justify-content: center;
  padding: 20px 20px 75px 20px;
}

/* line 38, ../sass/style.sass */
.header {
  display: flex;
  flex-flow: row nowrap;
}
/* line 42, ../sass/style.sass */
.header .navigation, .header .logo, .header .contact {
  display: flex;
  align-items: center;
  width: 33.33333%;
}
/* line 48, ../sass/style.sass */
.header .navigation nav, .header .logo nav, .header .contact nav {
  width: 100%;
}
/* line 50, ../sass/style.sass */
.header a {
  color: white;
  display: inline-block;
  border-bottom: 1px dashed white;
  margin-left: 10px;
  text-decoration: none;
}
/* line 56, ../sass/style.sass */
.header a:hover, .header a:focus, .header a:visited {
  text-decoration: none;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
}
/* line 59, ../sass/style.sass */
.header .logo {
  justify-content: center;
  padding-top: 31px;
}
/* line 63, ../sass/style.sass */
.header .contact {
  justify-content: flex-end;
  padding-top: 16px;
}
/* line 67, ../sass/style.sass */
.header .contact .text_contact {
  text-align: right;
}
/* line 69, ../sass/style.sass */
.header .contact .text_contact .tel {
  font-family: "Muller";
  color: white;
  font-size: 28px;
}
/* line 74, ../sass/style.sass */
.header .contact .text_contact .text i {
  color: white;
}
/* line 76, ../sass/style.sass */
.header .contact .text_contact .text a {
  font-family: "Muller";
}

/* line 78, ../sass/style.sass */
.title {
  font-family: "Muller";
  font-size: 43px;
  color: white;
  text-align: center;
  margin-top: 15px;
}

/* line 84, ../sass/style.sass */
.small_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 40px 0;
}
/* line 89, ../sass/style.sass */
.small_title .text_small_title {
  color: white;
  font-size: 24px;
  margin: 0 45px;
  text-align: center;
}
/* line 94, ../sass/style.sass */
.small_title .line {
  width: 95px;
  height: 2px;
  background-color: #f9ce62;
}

/* line 98, ../sass/style.sass */
.triggers {
  display: flex;
  margin: 0 auto;
  width: 75%;
}
/* line 102, ../sass/style.sass */
.triggers .trigger {
  display: flex;
  align-items: center;
  width: 33.33333%;
  margin: 0 10px;
}
/* line 107, ../sass/style.sass */
.triggers .trigger .img_trigger {
  width: 42%;
}
/* line 109, ../sass/style.sass */
.triggers .trigger .text_trigger {
  color: white;
  font-size: 18px;
  padding-left: 20px;
  width: 58%;
}

/* line 114, ../sass/style.sass */
.more_info {
  padding-top: 50px;
  margin: 0 auto;
  width: 270px;
  text-align: center;
}

/* line 119, ../sass/style.sass */
.fun_button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #FFA200;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 1.42857;
  border-radius: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: #ffea00;
  background: -moz-linear-gradient(top, #ffea00 0%, #ffa200 100%);
  background: -webkit-linear-gradient(top, #ffea00 0%, #ffa200 100%);
  background: linear-gradient(to bottom, #ffea00 0%, #ffa200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffea00', endColorstr='#ffa200',GradientType=0 );
  -webkit-box-shadow: 0px 3px 0px 0px #ff7700;
  -moz-box-shadow: 0px 3px 0px 0px #ff7700;
  box-shadow: 0px 3px 0px 0px #ff7700;
  min-width: 244px;
  height: 60px;
}
/* line 149, ../sass/style.sass */
.fun_button:hover, .fun_button:focus, .fun_button:visited {
  background: #ffea00;
}

/* line 151, ../sass/style.sass */
.separator {
  width: 100%;
  height: 3px;
  border-bottom: 3px dashed #cc1738;
  margin-bottom: 3px;
  clear: both;
}

/* line 157, ../sass/style.sass */
.white, .modal_title {
  margin: 0 auto;
  font-family: "Muller";
  font-size: 42px;
  text-align: center;
}

/* line 162, ../sass/style.sass */
.modal_title {
  font-size: 27px;
}

/* line 165, ../sass/style.sass */
.bg_2 {
  padding: 50px 0;
}
/* line 167, ../sass/style.sass */
.bg_2 .container_bg_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin-top: 40px;
}
/* line 173, ../sass/style.sass */
.bg_2 .container_bg_2 .left, .bg_2 .container_bg_2 .center, .bg_2 .container_bg_2 .right {
  width: 33.33333%;
}
/* line 175, ../sass/style.sass */
.bg_2 .container_bg_2 .left, .bg_2 .container_bg_2 .right {
  margin: 55px -30px 0 -30px;
}
/* line 177, ../sass/style.sass */
.bg_2 .container_bg_2 .top_left, .bg_2 .container_bg_2 .bottom_left, .bg_2 .container_bg_2 .top_right, .bg_2 .container_bg_2 .bottom_right {
  width: 100%;
  min-height: 120px;
  display: flex;
}
/* line 181, ../sass/style.sass */
.bg_2 .container_bg_2 .top_left .text, .bg_2 .container_bg_2 .bottom_left .text, .bg_2 .container_bg_2 .top_right .text, .bg_2 .container_bg_2 .bottom_right .text {
  float: left;
  width: 70%;
  margin-bottom: 50px;
}
/* line 185, ../sass/style.sass */
.bg_2 .container_bg_2 .top_left .img, .bg_2 .container_bg_2 .bottom_left .img, .bg_2 .container_bg_2 .top_right .img, .bg_2 .container_bg_2 .bottom_right .img {
  background-color: #fff;
  z-index: 10;
  border-radius: 45px;
  height: 60px;
  float: left;
}
/* line 191, ../sass/style.sass */
.bg_2 .container_bg_2 .top_left, .bg_2 .container_bg_2 .bottom_left {
  justify-content: flex-end;
  text-align: right;
}
/* line 194, ../sass/style.sass */
.bg_2 .container_bg_2 .top_left .img, .bg_2 .container_bg_2 .bottom_left .img {
  padding: 0 0 0 20px;
}
/* line 196, ../sass/style.sass */
.bg_2 .container_bg_2 .top_right, .bg_2 .container_bg_2 .bottom_right {
  justify-content: flex-start;
  text-align: left;
}
/* line 199, ../sass/style.sass */
.bg_2 .container_bg_2 .top_right .img, .bg_2 .container_bg_2 .bottom_right .img {
  padding: 0 20px 0 0;
}
/* line 201, ../sass/style.sass */
.bg_2 .girl {
  border-radius: 280px;
  border: 2px dashed #dbdbdb;
  margin: 0 auto;
  background-size: 100%;
  text-align: center;
}
/* line 207, ../sass/style.sass */
.bg_2 .girl img {
  width: 100%;
}

/* line 209, ../sass/style.sass */
.red {
  font-family: "Muller";
  margin: 0 auto;
  color: white;
  font-size: 42px;
  text-align: center;
}

/* line 215, ../sass/style.sass */
.bg_3 {
  background-image: url("../img/bg_3.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  padding: 50px 0;
}
/* line 225, ../sass/style.sass */
.bg_3 .container_bg_3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 100px;
}
/* line 230, ../sass/style.sass */
.bg_3 .container_bg_3 .item {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
/* line 234, ../sass/style.sass */
.bg_3 .container_bg_3 .item .img_item {
  width: 260px;
  height: 260px;
  background: #ff870a;
  background: -moz-linear-gradient(top, #ff870a 0%, #f96603 100%);
  background: -webkit-linear-gradient(top, #ff870a 0%, #f96603 100%);
  background: linear-gradient(to bottom, #ff870a 0%, #f96603 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff870a', endColorstr='#f96603',GradientType=0 );
  border-radius: 130px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
}
/* line 248, ../sass/style.sass */
.bg_3 .container_bg_3 .item .img_item .box_item {
  text-align: center;
  width: 100%;
}
/* line 251, ../sass/style.sass */
.bg_3 .container_bg_3 .item .img_item .box_item .free {
  margin-top: -55px;
}
/* line 253, ../sass/style.sass */
.bg_3 .container_bg_3 .item .img_item .box_item .img_sweatshirt {
  display: none;
}
/* line 255, ../sass/style.sass */
.bg_3 .container_bg_3 .item .body_item {
  background-color: #fff;
  width: 270px;
  margin-top: -130px;
  padding: 140px 20px 20px 20px;
  text-align: center;
  -webkit-box-shadow: 3px 3px 29px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 29px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 29px 0px rgba(0, 0, 0, 0.15);
}
/* line 264, ../sass/style.sass */
.bg_3 .container_bg_3 .item .body_item h3 {
  font-family: "Muller";
  font-size: 26px;
}
/* line 267, ../sass/style.sass */
.bg_3 .container_bg_3 .item .body_item h2 {
  font-size: 42px;
  font-weight: normal;
}
/* line 270, ../sass/style.sass */
.bg_3 .container_bg_3 .item .body_item h1 {
  font-weight: normal;
}
/* line 272, ../sass/style.sass */
.bg_3 .container_bg_3 .item .body_item .more_info {
  padding-top: 0;
}
/* line 274, ../sass/style.sass */
.bg_3 .container_bg_3 .item .present {
  background-color: #e50b3e;
  padding: 5px 10px;
  margin: 0 auto;
  color: #fff;
  width: 100px;
  text-align: center;
}

/* line 281, ../sass/style.sass */
.switch {
  padding: 10px;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 71px;
}
/* line 290, ../sass/style.sass */
.switch .t-shirt, .switch .key, .switch .sweatshirt {
  text-align: center;
  width: 33.3333%;
}
/* line 293, ../sass/style.sass */
.switch .t-shirt .black_text, .switch .t-shirt .grey_text, .switch .key .black_text, .switch .key .grey_text, .switch .sweatshirt .black_text, .switch .sweatshirt .grey_text {
  font-size: 12px;
}
/* line 295, ../sass/style.sass */
.switch .t-shirt .grey_text, .switch .key .grey_text, .switch .sweatshirt .grey_text {
  color: #b2b2b2;
}
/* line 299, ../sass/style.sass */
.switch .key .checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* line 304, ../sass/style.sass */
.switch .key .checkbox + label {
  cursor: pointer;
}
/* line 306, ../sass/style.sass */
.switch .key .checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
/* line 309, ../sass/style.sass */
.switch .key .checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}
/* line 312, ../sass/style.sass */
.switch .key .checkbox:not(checked) + label:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -2px;
  width: 100%;
  height: 27px;
  border-radius: 13px;
  background: #ff870a;
  background: -moz-linear-gradient(top, #ff870a 0%, #f96603 100%);
  background: -webkit-linear-gradient(top, #ff870a 0%, #f96603 100%);
  background: linear-gradient(to bottom, #ff870a 0%, #f96603 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff870a', endColorstr='#f96603',GradientType=0 );
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
/* line 326, ../sass/style.sass */
.switch .key .checkbox:not(checked) + label:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 2px;
  width: 21px;
  height: 21px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
/* line 339, ../sass/style.sass */
.switch .key .checkbox:checked + label:before {
  background: #ff870a;
  background: -moz-linear-gradient(top, #ff870a 0%, #f96603 100%);
  background: -webkit-linear-gradient(top, #ff870a 0%, #f96603 100%);
  background: linear-gradient(to bottom, #ff870a 0%, #f96603 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff870a', endColorstr='#f96603',GradientType=0 );
}
/* line 345, ../sass/style.sass */
.switch .key .checkbox:checked + label:after {
  left: 33px;
}

/* line 347, ../sass/style.sass */
.img_wrapper_t-shirt, .img_wrapper_sweatshirt, .img_wrapper_man, .img_wrapper_woman {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-image: url("../img/items.png");
  background-repeat: no-repeat;
}

/* line 353, ../sass/style.sass */
.img_wrapper_sweatshirt {
  background-position: 32% 100%;
}

/* line 356, ../sass/style.sass */
.img_wrapper_man {
  background-position: 100% 0;
}

/* line 359, ../sass/style.sass */
.img_wrapper_woman {
  background-position: 68% 100%;
}

/* line 364, ../sass/style.sass */
.bg_4 .container_bg_4 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 55px;
}
/* line 369, ../sass/style.sass */
.bg_4 .certificate {
  width: 25%;
}
/* line 371, ../sass/style.sass */
.bg_4 .description_certificate {
  margin-left: 20px;
  width: 73%;
}
/* line 374, ../sass/style.sass */
.bg_4 .description_certificate .title_description {
  background-color: #fff;
  padding: 0 10px;
  margin-top: -45px;
  width: 511px;
}
/* line 379, ../sass/style.sass */
.bg_4 .description_certificate .title_description .white, .bg_4 .description_certificate .title_description .modal_title {
  text-align: left;
}
/* line 381, ../sass/style.sass */
.bg_4 .description_certificate .border_description {
  border: 6px solid #fc7506;
  padding: 20px;
}
/* line 384, ../sass/style.sass */
.bg_4 .description_certificate .button {
  padding: 0 7px;
  background-color: #fff;
  margin-bottom: -52px;
  width: 244px;
}
/* line 389, ../sass/style.sass */
.bg_4 .description_certificate .text_description {
  margin: 25px 0;
}

/* line 392, ../sass/style.sass */
.bg_5 {
  background-image: url("../img/bg_5.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  padding: 50px 0;
}
/* line 403, ../sass/style.sass */
.bg_5 .container_bg_5 .steps {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 50px;
}
/* line 408, ../sass/style.sass */
.bg_5 .container_bg_5 .steps .circle_step {
  width: 157px;
  height: 157px;
  border: 5px solid #fff;
  border-radius: 120px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 417, ../sass/style.sass */
.bg_5 .container_bg_5 .steps .circle_step .internal_step {
  width: 147px;
  height: 147px;
  border: 3px solid #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 425, ../sass/style.sass */
.bg_5 .container_bg_5 .steps .box_step {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 18%;
}
/* line 430, ../sass/style.sass */
.bg_5 .container_bg_5 .steps .box_step .circles {
  display: flex;
  justify-content: center;
}
/* line 435, ../sass/style.sass */
.bg_5 .container_bg_5 .steps .vector_steps_small {
  display: none;
}
/* line 437, ../sass/style.sass */
.bg_5 .container_bg_5 .steps .up {
  display: flex;
  align-items: flex-end;
  height: 181px;
}
/* line 441, ../sass/style.sass */
.bg_5 .container_bg_5 .description_step {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
/* line 447, ../sass/style.sass */
.bg_5 .container_bg_5 .text_step {
  margin: 25px 0;
  text-align: center;
  color: #fff;
  width: 100%;
}
/* line 452, ../sass/style.sass */
.bg_5 .change_pay {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* line 456, ../sass/style.sass */
.bg_5 .change_pay .pay_1, .bg_5 .change_pay .pay_2 {
  border: 3px solid #fc7506;
  margin: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 215px;
  width: 48%;
}
/* line 464, ../sass/style.sass */
.bg_5 .change_pay .pay_1 .img_wrapper, .bg_5 .change_pay .pay_2 .img_wrapper {
  margin-bottom: 22px;
  margin-left: -15px;
}
/* line 467, ../sass/style.sass */
.bg_5 .change_pay .pay_1 .text_pay, .bg_5 .change_pay .pay_2 .text_pay {
  margin-left: 15px;
  height: 100%;
  width: 50%;
}
/* line 471, ../sass/style.sass */
.bg_5 .change_pay .pay_1 .text_pay h2, .bg_5 .change_pay .pay_2 .text_pay h2 {
  margin: 16px 0 0 0;
}
/* line 473, ../sass/style.sass */
.bg_5 .change_pay .pay_1 .text_pay .post_office, .bg_5 .change_pay .pay_2 .text_pay .post_office {
  margin-top: 20px;
}

/* line 475, ../sass/style.sass */
.bg_6 {
  padding: 50px 0;
}
/* line 477, ../sass/style.sass */
.bg_6 .container_bg_6 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 50px;
}
/* line 482, ../sass/style.sass */
.bg_6 .container_bg_6 .comment {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 45%;
  margin: 25px;
  justify-content: center;
}
/* line 488, ../sass/style.sass */
.bg_6 .container_bg_6 .comment .img_wrapper {
  width: 208px;
  height: 208px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 104px;
}
/* line 496, ../sass/style.sass */
.bg_6 .container_bg_6 .comment .text_comment {
  background-color: #f4f5fa;
  border-radius: 10px;
  height: 220px;
  width: 54%;
  padding: 20px 10px 0 121px;
  margin: -18px 0 0 -103px;
  z-index: -2;
}

/* line 504, ../sass/style.sass */
.bg_7 {
  background-color: #ca3651;
  padding: 50px 0;
}

/* line 508, ../sass/style.sass */
.bg_8 .container {
  padding: 20px;
}
/* line 510, ../sass/style.sass */
.bg_8 .container_bg_8 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* line 514, ../sass/style.sass */
.bg_8 .container_bg_8 .left_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 519, ../sass/style.sass */
.bg_8 .container_bg_8 .left_footer .navigation_footer a {
  display: block;
  font-size: 14px;
  color: #000;
}
/* line 523, ../sass/style.sass */
.bg_8 .container_bg_8 .left_footer .navigation_footer a:hover, .bg_8 .container_bg_8 .left_footer .navigation_footer a:focus {
  color: #dc143c;
}
/* line 525, ../sass/style.sass */
.bg_8 .container_bg_8 .left_footer .title_social {
  font-size: 14px;
  margin: 10px 0 5px 0;
}
/* line 528, ../sass/style.sass */
.bg_8 .container_bg_8 .left_footer .icons_social {
  display: flex;
}
/* line 530, ../sass/style.sass */
.bg_8 .container_bg_8 .left_footer .icons_social a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 11px;
}
/* line 535, ../sass/style.sass */
.bg_8 .container_bg_8 .left_footer .vk, .bg_8 .container_bg_8 .left_footer .facebook, .bg_8 .container_bg_8 .left_footer .instagram {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
/* line 543, ../sass/style.sass */
.bg_8 .container_bg_8 .left_footer .vk:hover, .bg_8 .container_bg_8 .left_footer .vk:focus, .bg_8 .container_bg_8 .left_footer .facebook:hover, .bg_8 .container_bg_8 .left_footer .facebook:focus, .bg_8 .container_bg_8 .left_footer .instagram:hover, .bg_8 .container_bg_8 .left_footer .instagram:focus {
  opacity: 0.8;
}
/* line 545, ../sass/style.sass */
.bg_8 .container_bg_8 .left_footer .vk {
  background-color: #3f84aa;
}
/* line 547, ../sass/style.sass */
.bg_8 .container_bg_8 .left_footer .facebook {
  background-color: #156896;
}
/* line 549, ../sass/style.sass */
.bg_8 .container_bg_8 .left_footer .instagram {
  background-color: #977158;
}
/* line 551, ../sass/style.sass */
.bg_8 .container_bg_8 .contact_footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* line 555, ../sass/style.sass */
.bg_8 .container_bg_8 .contact_footer .text_contact {
  text-align: right;
}
/* line 557, ../sass/style.sass */
.bg_8 .container_bg_8 .contact_footer .text_contact .tel {
  font-family: "Muller";
  color: #000000;
  font-size: 28px;
}
/* line 562, ../sass/style.sass */
.bg_8 .container_bg_8 .contact_footer .text_contact .text i {
  color: #000000;
}
/* line 564, ../sass/style.sass */
.bg_8 .container_bg_8 .contact_footer .text_contact .text a {
  font-family: "Muller";
  color: #000;
  display: inline-block;
  border-bottom: 1px dashed white;
  margin-left: 10px;
  text-decoration: none;
  font-size: 100%;
}
/* line 572, ../sass/style.sass */
.bg_8 .container_bg_8 .contact_footer .text_contact .text a:hover, .bg_8 .container_bg_8 .contact_footer .text_contact .text a:focus, .bg_8 .container_bg_8 .contact_footer .text_contact .text a:visited {
  text-decoration: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.6);
}

/* line 576, ../sass/style.sass */
.modal-content {
  height: auto;
  min-height: 300px;
}

/* line 579, ../sass/style.sass */
.modal-header {
  border-bottom: 0 !important;
  padding: 30px 15px 15px 15px !important;
}

/* line 585, ../sass/style.sass */
.modal-body .change {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
/* line 589, ../sass/style.sass */
.modal-body .change .box_step {
  width: 270px;
  margin: 5px 0;
}

/* line 592, ../sass/style.sass */
.theme {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #ededed;
  padding: 20px 0;
}
/* line 599, ../sass/style.sass */
.theme .theme_view {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  min-width: 33.33333%;
  min-height: 23px;
  margin: 5px 0;
}
/* line 606, ../sass/style.sass */
.theme .theme_view .checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* line 611, ../sass/style.sass */
.theme .theme_view .checkbox + label {
  cursor: pointer;
}
/* line 613, ../sass/style.sass */
.theme .theme_view .checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
/* line 617, ../sass/style.sass */
.theme .theme_view .checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
/* line 621, ../sass/style.sass */
.theme .theme_view .checkbox:not(checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 23px;
  border-radius: 3px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2);
}
/* line 630, ../sass/style.sass */
.theme .theme_view .checkbox:checked + label:before {
  background-image: url("../img/check.png");
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 634, ../sass/style.sass */
.theme_header {
  flex: 1 100%;
  text-align: center;
}
/* line 637, ../sass/style.sass */
.theme_header h3 {
  font-weight: normal;
  margin-top: 0;
}

/* line 641, ../sass/style.sass */
.form-control, .textarea, .form-select {
  display: block;
  width: 90%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2);
}

/* line 658, ../sass/style.sass */
.textarea {
  width: 100%;
  height: auto;
}

/* line 662, ../sass/style.sass */
.m_w {
  padding: 10px 0;
}

/* line 664, ../sass/style.sass */
.form-select {
  width: 20%;
  margin: 0 auto;
  height: 44px;
}

/* line 669, ../sass/style.sass */
.cont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 15px 0px;
}
/* line 678, ../sass/style.sass */
.cont .fio, .cont .telephone {
  width: 50%;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
}
/* line 683, ../sass/style.sass */
.cont .telephone {
  justify-content: flex-end;
}

/* line 686, ../sass/style.sass */
.thanks {
  margin: 100px 0 165px 0;
}

@media all and (min-width: 1200px) and (max-width: 10000px) {
  /* line 690, ../sass/style.sass */
  .container {
    width: 1143px;
  }

  /* line 694, ../sass/style.sass */
  .navigation nav a, .header .logo nav a, .header .contact nav a {
    font-size: 15px;
  }
}
@media all and (min-width: 992px) and (max-width: 1080px) {
  /* line 701, ../sass/style.sass */
  .container_bg_5 .steps .box_step .circle .circle_step {
    width: 127px;
    height: 127px;
  }
  /* line 704, ../sass/style.sass */
  .container_bg_5 .steps .box_step .circle .circle_step .internal_step {
    width: 117px;
    height: 117px;
  }
}
@media all and (min-width: 320px) and (max-width: 524px) {
  /* line 711, ../sass/style.sass */
  .bg_5 .change_pay .pay_1 .text_pay, .bg_5 .change_pay .pay_2 .text_pay {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  /* line 715, ../sass/style.sass */
  .bg_5 .img_wrapper {
    display: none;
  }
}
@media all and (min-width: 320px) and (max-width: 992px) {
  /* line 718, ../sass/style.sass */
  nav {
    text-align: center;
  }

  /* line 720, ../sass/style.sass */
  .red, .white, .modal_title {
    font-size: 34px;
  }

  /* line 723, ../sass/style.sass */
  .bg_1 .header {
    display: flex;
    flex-flow: row wrap;
  }
  /* line 726, ../sass/style.sass */
  .bg_1 .header .contact, .bg_1 .header .logo, .bg_1 .header .navigation, .bg_1 .header .logo, .bg_1 .header .contact {
    justify-content: center;
    margin: 20px 0;
    flex: 1 100%;
  }
  /* line 730, ../sass/style.sass */
  .bg_1 .small_title {
    flex-direction: column;
  }
  /* line 732, ../sass/style.sass */
  .bg_1 .small_title .text_small_title {
    margin: 25px 0;
    width: 100%;
  }
  /* line 735, ../sass/style.sass */
  .bg_1 .title {
    font-size: 34px;
  }
  /* line 737, ../sass/style.sass */
  .bg_1 .triggers {
    flex-flow: row wrap;
    flex: 1 100%;
  }
  /* line 740, ../sass/style.sass */
  .bg_1 .triggers .trigger {
    flex-flow: row wrap;
    flex: 1 100%;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
  }
  /* line 746, ../sass/style.sass */
  .bg_1 .triggers .img_trigger {
    width: 100%;
    text-align: center;
  }
  /* line 749, ../sass/style.sass */
  .bg_1 .triggers .text_trigger {
    text-align: center;
    padding: 0;
  }

  /* line 753, ../sass/style.sass */
  .bg_2 .container_bg_2 {
    flex-flow: row wrap;
  }
  /* line 755, ../sass/style.sass */
  .bg_2 .container_bg_2 .left, .bg_2 .container_bg_2 .right {
    margin: 0;
  }
  /* line 757, ../sass/style.sass */
  .bg_2 .container_bg_2 .left, .bg_2 .container_bg_2 .center, .bg_2 .container_bg_2 .right {
    justify-content: center;
    width: 100%;
  }
  /* line 760, ../sass/style.sass */
  .bg_2 .container_bg_2 .girl {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    margin: 25px 0;
  }
  /* line 765, ../sass/style.sass */
  .bg_2 .container_bg_2 .girl img {
    width: 60%;
  }
  /* line 768, ../sass/style.sass */
  .bg_2 .container_bg_2 .top_left .text, .bg_2 .container_bg_2 .top_left .img, .bg_2 .container_bg_2 .bottom_left .text, .bg_2 .container_bg_2 .bottom_left .img, .bg_2 .container_bg_2 .top_right .text, .bg_2 .container_bg_2 .top_right .img, .bg_2 .container_bg_2 .bottom_right .text, .bg_2 .container_bg_2 .bottom_right .img {
    width: 100%;
    text-align: center !important;
    margin: 5px 0;
    padding: 0;
  }
  /* line 773, ../sass/style.sass */
  .bg_2 .container_bg_2 .top_left, .bg_2 .container_bg_2 .bottom_left {
    flex-direction: column-reverse;
  }
  /* line 775, ../sass/style.sass */
  .bg_2 .container_bg_2 .top_right, .bg_2 .container_bg_2 .bottom_right {
    flex-direction: column;
  }

  /* line 779, ../sass/style.sass */
  .bg_3 .container_bg_3 {
    flex-flow: row wrap;
  }
  /* line 781, ../sass/style.sass */
  .bg_3 .container_bg_3 .item {
    margin: 40px 0;
    flex: 1 100%;
  }
  /* line 784, ../sass/style.sass */
  .bg_3 .container_bg_3 .item .body_item {
    padding: 140px 7px 20px 7px;
  }

  /* line 787, ../sass/style.sass */
  .bg_4 .container_bg_4 {
    flex-flow: row wrap;
    justify-content: center;
  }
  /* line 790, ../sass/style.sass */
  .bg_4 .container_bg_4 .certificate {
    width: 100%;
    text-align: center;
  }
  /* line 793, ../sass/style.sass */
  .bg_4 .container_bg_4 .description_certificate {
    width: 100%;
    margin: 40px 0 0 0;
  }
  /* line 796, ../sass/style.sass */
  .bg_4 .container_bg_4 .button {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  /* line 800, ../sass/style.sass */
  .bg_4 .container_bg_4 .border_description {
    padding: 12px;
  }
  /* line 802, ../sass/style.sass */
  .bg_4 .container_bg_4 .border_description .title_description {
    width: 100%;
    padding: 0;
  }
  /* line 805, ../sass/style.sass */
  .bg_4 .container_bg_4 .border_description .title_description .white, .bg_4 .container_bg_4 .border_description .title_description .modal_title {
    text-align: center;
  }

  /* line 809, ../sass/style.sass */
  .bg_5 .container_bg_5 .steps {
    flex-flow: row wrap;
  }
  /* line 811, ../sass/style.sass */
  .bg_5 .container_bg_5 .steps .box_step {
    width: 100%;
  }
  /* line 813, ../sass/style.sass */
  .bg_5 .change_pay {
    flex-flow: row wrap;
  }
  /* line 815, ../sass/style.sass */
  .bg_5 .change_pay .pay_1, .bg_5 .change_pay .pay_2 {
    flex: 1 100%;
    margin: 10px 0;
  }
  /* line 818, ../sass/style.sass */
  .bg_5 .circles, .bg_5 .text_step {
    flex: 1 100%;
  }
  /* line 820, ../sass/style.sass */
  .bg_5 .vector_steps, .bg_5 .up {
    display: none !important;
  }
  /* line 822, ../sass/style.sass */
  .bg_5 .vector_steps_small {
    display: flex !important;
    flex: 1 100%;
    justify-content: center;
    margin: 0 0 20px 0;
    font-size: 62px;
  }
  /* line 827, ../sass/style.sass */
  .bg_5 .vector_steps_small i {
    color: #fff;
  }

  /* line 832, ../sass/style.sass */
  .bg_6 .container_bg_6 .comment {
    flex-flow: row wrap;
    justify-content: center;
    margin: 15px;
  }
  /* line 836, ../sass/style.sass */
  .bg_6 .container_bg_6 .comment .text_comment {
    padding: 90px 10px 30px 10px;
    margin: -103px 0 0 0px;
    z-index: -2;
    text-align: center;
    height: auto;
    width: 258px;
    flex: 1 100%;
  }

  /* line 845, ../sass/style.sass */
  .bg_8 .container_bg_8 {
    flex-flow: row wrap;
  }
  /* line 847, ../sass/style.sass */
  .bg_8 .container_bg_8 .left_footer, .bg_8 .container_bg_8 .logo_footer, .bg_8 .container_bg_8 .contact_footer {
    align-items: center;
    flex: 1 100%;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
  }

  /* line 854, ../sass/style.sass */
  .theme_view {
    flex: 1 100%;
  }

  /* line 856, ../sass/style.sass */
  .cont {
    flex-flow: row wrap;
  }
  /* line 858, ../sass/style.sass */
  .cont .fio, .cont .telephone, .cont .telephone {
    justify-content: center;
    width: 100%;
  }

  /* line 861, ../sass/style.sass */
  .modal-content {
    min-height: 500px;
  }
  /* line 863, ../sass/style.sass */
  .modal-content .modal-body {
    padding: 15px !important;
  }

  /* line 865, ../sass/style.sass */
  .thanks {
    margin-top: 75px;
  }
}
