$height_b1_header:210px
$colorA: rgba(255, 255, 255, 1)
$otherFont: 'Muller'
$colorLine: #f9ce62
$a: before
@import "media-queries"
=custom-device($min, $max)
  @include mq($media-type: 'all', $min-width: $min, $max-width: $max)
    @content
@font-face
  font-family: 'Muller'
  src: url('../fonts/Muller-Bold.otf')
hr
  -moz-border-bottom-colors: none
  -moz-border-image: none
  -moz-border-left-colors: none
  -moz-border-right-colors: none
  -moz-border-top-colors: none
  -moz-use-text-color: #FFFFFF
  border-color: #EEEEEE
  border-style: solid none
  border-width: 1px 0
  margin: 18px 0
.bg_1
  background-image: url("../img/bg_1.png")
  background-repeat: no-repeat
  background-position: top center
  background-size: cover
  -moz-background-size: cover
  -webkit-background-size: cover
  -o-background-size: cover
  width: 100%
  //height: 707px
.container
  margin: 0 auto
  justify-content: center
  padding: 20px 20px 75px 20px
.header
  display: flex
  flex-flow: row nowrap
  //justify-content: center
  .navigation
    display: flex
    align-items: center
    width: 33.333333%
    //height: $height_b1_header
    //flex: 1 100%
    nav
      width: 100%
  a
    color: $colorA
    display: inline-block
    border-bottom: 1px dashed $colorA
    margin-left: 10px
    text-decoration: none
    &:hover,&:focus,&:visited
      text-decoration: none
      border-bottom: 1px dashed rgba(255,255,255, 0.6)
  .logo
    @extend .navigation
    justify-content: center
    padding-top: 31px
  .contact
    @extend .navigation
    justify-content: flex-end
    padding-top: 16px
    .text_contact
      text-align: right
      .tel
        font-family: $otherFont
        color: $colorA
        font-size: 28px
      .text
        i
          color: $colorA
        a
          font-family: $otherFont
.title
  font-family: $otherFont
  font-size: 43px
  color: $colorA
  text-align: center
  margin-top: 15px
.small_title
  display: flex
  justify-content: center
  align-items: center
  margin: 20px 0 40px 0
  .text_small_title
    color: $colorA
    font-size: 24px
    margin: 0 45px
    text-align: center
  .line
    width: 95px
    height: 2px
    background-color: $colorLine
.triggers
  display: flex
  margin: 0 auto
  width: 75%
  .trigger
    display: flex
    align-items: center
    width: 33.33333%
    margin: 0 10px
    .img_trigger
      width: 42%
    .text_trigger
      color: $colorA
      font-size: 18px
      padding-left: 20px
      width: 58%
.more_info
  padding-top: 50px
  margin: 0 auto
  width: 270px
  text-align: center
.fun_button
  display: inline-block
  margin-bottom: 0
  font-weight: normal
  text-align: center
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  background-image: none
  border: 1px solid transparent
  border-bottom: 1px solid #FFA200
  white-space: nowrap
  padding: 6px 12px
  font-size: 20px
  line-height: 1.42857143
  border-radius: 7px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  background: #ffea00 /* Old browsers */
  background: -moz-linear-gradient(top,  #ffea00 0%, #ffa200 100%) /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffea00 0%,#ffa200 100%) /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffea00 0%,#ffa200 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffea00', endColorstr='#ffa200',GradientType=0 ) /* IE6-9 */
  -webkit-box-shadow: 0px 3px 0px 0px rgba(255,119,0,1)
  -moz-box-shadow: 0px 3px 0px 0px rgba(255,119,0,1)
  box-shadow: 0px 3px 0px 0px rgba(255,119,0,1)
  min-width: 244px
  height: 60px
  &:hover,&:focus,&:visited
    background: #ffea00
.separator
  width: 100%
  height: 3px
  border-bottom: 3px dashed #cc1738
  margin-bottom: 3px
  clear: both
.white
  margin: 0 auto
  font-family: $otherFont
  font-size: 42px
  text-align: center
.modal_title
  @extend .white
  font-size: 27px
.bg_2
  padding: 50px 0
  .container_bg_2
    display: flex
    align-items: center
    justify-content: center
    flex-flow: row nowrap
    margin-top: 40px
    .left,.center,.right
      width: 33.333333%
    .left,.right
      margin: 55px -30px 0 -30px
    .top_left,.bottom_left,.top_right,.bottom_right
      width: 100%
      min-height: 120px
      display: flex
      .text
        float: left
        width: 70%
        margin-bottom: 50px
      .img
        background-color: #fff
        z-index: 10
        border-radius: 45px
        height: 60px
        float: left
    .top_left,.bottom_left
      justify-content: flex-end
      text-align: right
      .img
        padding: 0 0 0 20px
    .top_right,.bottom_right
      justify-content: flex-start
      text-align: left
      .img
        padding: 0 20px 0 0
  .girl
    border-radius: 280px
    border: 2px dashed #dbdbdb
    margin: 0 auto
    background-size: 100%
    text-align: center
    img
      width: 100%
.red
  font-family: $otherFont
  margin: 0 auto
  color: $colorA
  font-size: 42px
  text-align: center
.bg_3
  background-image: url("../img/bg_3.png")
  background-repeat: no-repeat
  background-position: top center
  background-size: cover
  -moz-background-size: cover
  -webkit-background-size: cover
  -o-background-size: cover
  width: 100%
  padding: 50px 0
  .container_bg_3
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    margin-top: 100px
    .item
      display: flex
      justify-content: center
      flex-flow: row wrap
      .img_item
        width: 260px
        height: 260px
        background: #ff870a /* Old browsers */
        background: -moz-linear-gradient(top,  #ff870a 0%, #f96603 100%) /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ff870a 0%,#f96603 100%) /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ff870a 0%,#f96603 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff870a', endColorstr='#f96603',GradientType=0 ) /* IE6-9 */
        border-radius: 130px
        position: relative
        display: flex
        justify-content: center
        align-items: flex-end
        margin: 0 auto
        .box_item
          text-align: center
          width: 100%
          .free
            margin-top: -55px
          .img_sweatshirt
            display: none
      .body_item
        background-color: #fff
        width: 270px
        margin-top: -130px
        padding: 140px 20px 20px 20px
        text-align: center
        -webkit-box-shadow: 3px 3px 29px 0px rgba(0, 0, 0, 0.15)
        -moz-box-shadow:    3px 3px 29px 0px rgba(0, 0, 0, 0.15)
        box-shadow:         3px 3px 29px 0px rgba(0, 0, 0, 0.15)
        h3
          font-family: $otherFont
          font-size: 26px
        h2
          font-size: 42px
          font-weight: normal
        h1
          font-weight: normal
        .more_info
          padding-top: 0
      .present
        background-color: #e50b3e
        padding: 5px 10px
        margin: 0 auto
        color: #fff
        width: 100px
        text-align: center
.switch
  padding: 10px
  border-bottom: 1px solid #ededed
  border-top: 1px solid #ededed
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  min-height: 71px
  .t-shirt,.key,.sweatshirt
    text-align: center
    width: 33.3333%
    .black_text
      font-size: 12px
    .grey_text
      @extend .black_text
      color: #b2b2b2
  .key
    .checkbox
      vertical-align: top
      margin: 0 3px 0 0
      width: 17px
      height: 17px
    .checkbox + label
      cursor: pointer
    .checkbox:not(checked)
      position: absolute
      opacity: 0
    .checkbox:not(checked) + label
      position: relative
      padding: 0 0 0 60px
    .checkbox:not(checked) + label:before
      content: ''
      position: absolute
      top: -5px
      left: -2px
      width: 100%
      height: 27px
      border-radius: 13px
      background: #ff870a /* Old browsers */
      background: -moz-linear-gradient(top,  #ff870a 0%, #f96603 100%) /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #ff870a 0%,#f96603 100%) /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #ff870a 0%,#f96603 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff870a', endColorstr='#f96603',GradientType=0 ) /* IE6-9 */
      box-shadow: inset 0 2px 3px rgba(0,0,0,.2)
    .checkbox:not(checked) + label:after
      content: ''
      position: absolute
      top: -2px
      left: 2px
      width: 21px
      height: 21px
      border-radius: 10px
      background: #FFF
      -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.3)
      -moz-box-shadow:    inset -1px -1px 1px 0px rgba(0, 0, 0, 0.3)
      box-shadow:         inset -1px -1px 1px 0px rgba(0, 0, 0, 0.3)
      transition: all .2s
    .checkbox:checked + label:before
      background: #ff870a /* Old browsers */
      background: -moz-linear-gradient(top,  #ff870a 0%, #f96603 100%) /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #ff870a 0%,#f96603 100%) /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #ff870a 0%,#f96603 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff870a', endColorstr='#f96603',GradientType=0 ) /* IE6-9 */
    .checkbox:checked + label:after
      left: 33px
.img_wrapper_t-shirt
  width: 100%
  height: 50px
  overflow: hidden
  background-image: url("../img/items.png")
  background-repeat: no-repeat
.img_wrapper_sweatshirt
  @extend .img_wrapper_t-shirt
  background-position: 32% 100%
.img_wrapper_man
  @extend .img_wrapper_t-shirt
  background-position: 100% 0
.img_wrapper_woman
  @extend .img_wrapper_t-shirt
  background-position: 68% 100%

.bg_4
  .container_bg_4
    display: flex
    flex-flow: row nowrap
    align-items: center
    margin-top: 55px
  .certificate
    width: 25%
  .description_certificate
    margin-left: 20px
    width: 73%
    .title_description
      background-color: #fff
      padding: 0 10px
      margin-top: -45px
      width: 511px
      .white
        text-align: left
    .border_description
      border: 6px solid #fc7506
      padding: 20px
    .button
      padding: 0 7px
      background-color: #fff
      margin-bottom: -52px
      width: 244px
    .text_description
      margin: 25px 0

.bg_5
  background-image: url("../img/bg_5.png")
  background-repeat: no-repeat
  background-position: top center
  background-size: cover
  -moz-background-size: cover
  -webkit-background-size: cover
  -o-background-size: cover
  width: 100%
  padding: 50px 0
  .container_bg_5
    .steps
      display: flex
      flex-flow: row nowrap
      justify-content: center
      margin-top: 50px
      .circle_step
        width: 157px
        height: 157px
        border: 5px solid #fff
        border-radius: 120px
        padding: 7px
        display: flex
        justify-content: center
        align-items: center
        .internal_step
          width: 147px
          height: 147px
          border: 3px solid #fff
          border-radius: 100px
          display: flex
          justify-content: center
          align-items: center
      .box_step
        display: flex
        flex-flow: row wrap
        justify-content: center
        width: 18%
        .circles
          display: flex
          justify-content: center
      //.vector_steps
      //  //margin: 0 -85px
      .vector_steps_small
        display: none
      .up
        display: flex
        align-items: flex-end
        height: 181px
    .description_step
      display: flex
      justify-content: center
      text-align: center
      //width: 89%
      margin: 0 auto
    .text_step
      margin: 25px 0
      text-align: center
      color: #fff
      width: 100%
  .change_pay
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    .pay_1,.pay_2
      border: 3px solid  #fc7506
      margin: 10px
      background-color: #fff
      display: flex
      align-items: center
      height: 215px
      width: 48%
      .img_wrapper
        margin-bottom: 22px
        margin-left: -15px
      .text_pay
        margin-left: 15px
        height: 100%
        width: 50%
        h2
          margin: 16px 0 0 0
        .post_office
          margin-top: 20px
.bg_6
  padding: 50px 0
  .container_bg_6
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    margin-top: 50px
    .comment
      display: flex
      flex-flow: row nowrap
      flex: 1 45%
      margin: 25px
      justify-content: center
      .img_wrapper
        width: 208px
        height: 208px
        overflow: hidden
        display: flex
        justify-content: center
        align-items: center
        border-radius: 104px
      .text_comment
        background-color: #f4f5fa
        border-radius: 10px
        height: 220px
        width: 54%
        padding: 20px 10px 0 121px
        margin: -18px 0 0 -103px
        z-index: -2
.bg_7
  background-color: #ca3651
  padding: 50px 0
.bg_8
  .container
    padding: 20px
  .container_bg_8
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    .left_footer
      display: flex
      flex-direction: column
      justify-content: center
      .navigation_footer
        a
          display: block
          font-size: 14px
          color: #000
          &:hover,&:focus
            color: #dc143c
      .title_social
        font-size: 14px
        margin: 10px 0 5px 0
      .icons_social
        display: flex
        a
          color: $colorA
          text-decoration: none
          font-size: 24px
          padding: 11px
      .vk,.facebook,.instagram
        display: flex
        width: 50px
        height: 50px
        border-radius: 25px
        margin-right: 10px
        justify-content: center
        align-items: center
        &:hover,&:focus
          opacity: 0.8
      .vk
        background-color: #3f84aa
      .facebook
        background-color: #156896
      .instagram
        background-color: #977158
    .contact_footer
      display: flex
      align-items: center
      justify-content: flex-end
      .text_contact
        text-align: right
        .tel
          font-family: $otherFont
          color: #000000
          font-size: 28px
        .text
          i
            color: #000000
          a
            font-family: $otherFont
            color: #000
            display: inline-block
            border-bottom: 1px dashed $colorA
            margin-left: 10px
            text-decoration: none
            font-size: 100%
            &:hover,&:focus,&:visited
              text-decoration: none
              border-bottom: 1px dashed rgba(0,0,0, 0.6)

.modal-content
  height: auto
  min-height: 300px
.modal-header
  border-bottom: 0 !important
  //margin: 0 20px
  padding: 30px 15px 15px 15px !important
.modal-body
  //padding: 15px 35px 35px 35px!important
  .change
    display: flex
    flex-flow: row wrap
    justify-content: space-around
    .box_step
      width: 270px
      margin: 5px 0
.theme
  display: flex
  flex-flow: row wrap
  width: 80%
  margin: 0 auto
  border-bottom: 1px solid #ededed
  padding: 20px 0
  .theme_view
    display: flex
    align-items: center
    flex-flow: row nowrap
    min-width: 33.33333%
    min-height: 23px
    margin: 5px 0
    .checkbox
      vertical-align: top
      margin: 0 3px 0 0
      width: 17px
      height: 17px
    .checkbox + label
      cursor: pointer
    .checkbox:not(checked)
      position: absolute
      opacity: 0

    .checkbox:not(checked) + label
      position: relative
      padding: 0 0 0 35px

    .checkbox:not(checked) + label:before
      content: ''
      position: absolute
      //top: -4px
      left: 0
      width: 23px
      height: 23px
      border-radius: 3px
      box-shadow: inset 1px 2px 3px rgba(0,0,0,.2)
    .checkbox:checked + label:before
      background-image: url("../img/check.png")
      background-position: center center
      background-repeat: no-repeat
.theme_header
  flex: 1 100%
  text-align: center
  h3
    font-weight: normal
    margin-top: 0

.form-control
  display: block
  width: 90%
  height: 34px
  padding: 6px 12px
  font-size: 14px
  line-height: 1.42857143
  color: #555555
  background-color: #ffffff
  background-image: none
  border: 1px solid #cccccc
  box-shadow: inset 1px 2px 3px rgba(0,0,0,.2)
  //-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  //-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
  //-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
  //transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
.textarea
  @extend .form-control
  width: 100%
  height: auto
.m_w
  padding: 10px 0
.form-select
  @extend .form-control
  width: 20%
  margin: 0 auto
  height: 44px
.cont
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  width: 80%
  margin: 0 auto
  border-top: 1px solid #ededed
  border-bottom: 1px solid #ededed
  padding: 15px 0px
  .fio
    width: 50%
    margin: 5px
    display: flex
    justify-content: flex-start
  .telephone
    @extend .fio
    justify-content: flex-end
.thanks
  margin: 100px 0 165px 0

@include custom-device(1200px,10000px)
  .container
    width: 1143px
  .navigation
    nav
      a
        font-size: 15px
@include custom-device(992px,1080px)
  .container_bg_5
    .steps
      .box_step
        .circle
          .circle_step
            width: 127px
            height: 127px
            .internal_step
              width: 117px
              height: 117px
@include custom-device(320px,524px)
  .bg_5
    .change_pay
      .pay_1,.pay_2
        .text_pay
          margin: 0 auto
          text-align: center
          width: 100%
    .img_wrapper
      display: none
@include custom-device(320px,992px)
  nav
    text-align: center
  .red,.white
    font-size: 34px
  .bg_1
    .header
      display: flex
      flex-flow: row wrap
      .contact,.logo,.navigation
        justify-content: center
        margin: 20px 0
        flex: 1 100%
    .small_title
      flex-direction: column
      .text_small_title
        margin: 25px 0
        width: 100%
    .title
      font-size: 34px
    .triggers
      flex-flow: row wrap
      flex: 1 100%
      .trigger
        flex-flow: row wrap
        flex: 1 100%
        justify-content: center
        margin: 20px 0
        flex-direction: column
      .img_trigger
        width: 100%
        text-align: center
      .text_trigger
        text-align: center
        padding: 0
  .bg_2
    .container_bg_2
      flex-flow: row wrap
      .left,.right
        margin: 0
      .left,.center,.right
        justify-content: center
        width: 100%
      .girl
        border-radius: 0
        border-left: 0
        border-right: 0
        margin: 25px 0
        img
          width: 60%
      .top_left,.bottom_left,.top_right,.bottom_right
        .text,.img
          width: 100%
          text-align: center !important
          margin: 5px 0
          padding: 0
      .top_left,.bottom_left
        flex-direction: column-reverse
      .top_right,.bottom_right
        flex-direction: column

  .bg_3
    .container_bg_3
      flex-flow: row wrap
      .item
        margin: 40px 0
        flex: 1 100%
        .body_item
          padding: 140px 7px 20px 7px
  .bg_4
    .container_bg_4
      flex-flow: row wrap
      justify-content: center
      .certificate
        width: 100%
        text-align: center
      .description_certificate
        width: 100%
        margin: 40px 0 0 0
      .button
        width: 100%
        text-align: center
        padding: 0
      .border_description
        padding: 12px
        .title_description
          width: 100%
          padding: 0
          .white
            text-align: center
  .bg_5
    .container_bg_5
      .steps
        flex-flow: row wrap
        .box_step
          width: 100%
    .change_pay
      flex-flow: row wrap
      .pay_1,.pay_2
        flex: 1 100%
        margin: 10px 0
    .circles,.text_step
      flex: 1 100%
    .vector_steps,.up
      display: none !important
    .vector_steps_small
      display: flex !important
      flex: 1 100%
      justify-content: center
      margin: 0 0 20px 0
      i
        color: #fff
      font-size: 62px
  .bg_6
    .container_bg_6
      .comment
        flex-flow: row wrap
        justify-content: center
        margin: 15px
        .text_comment
          padding: 90px 10px 30px 10px
          margin: -103px 0 0 0px
          z-index: -2
          text-align: center
          height: auto
          width: 258px
          flex: 1 100%
  .bg_8
    .container_bg_8
      flex-flow: row wrap
      .left_footer,.logo_footer,.contact_footer
        align-items: center
        flex: 1 100%
        text-align: center
        margin-bottom: 20px
        justify-content: center

  .theme_view
    flex: 1 100%
  .cont
    flex-flow: row wrap
    .fio,.telephone
      justify-content: center
      width: 100%
  .modal-content
    min-height: 500px
    .modal-body
      padding: 15px !important
  .thanks
    margin-top: 75px
//@include mq($min-width:320px)
//  .navigation
//    text-align: center
