doctype html
html
    head(lang="ru")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel='stylesheet', type='text/css', href='css/normalize.css')
        link(rel='stylesheet', type='text/css', href='css/style.css')
        link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='css/animate.min.css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,800' rel='stylesheet' type='text/css')
        block style
        title
            | Box-fun
    body
        .bg_1
            .container
                .header
                    .navigation
                       nav
                            a(href="#cost") Стоимость
                            a(href="#subscription") Подписка
                            a(href="#how") Как заказать
                            a(href="#reviews") Отзывы
                    .logo
                        img(src='img/logo.png')
                    .contact
                        .text_contact
                            .tel 8 (495) 123-45-67
                            .text
                                i.fa.fa-phone
                                a(href='#' data-toggle="modal" data-target=".bs-example-modal-phone") Заказать обратный звонок
                .title
                    | Получайте оригинальные футболоки и худи с индивидуальным дизайном каждый месяц!
                .small_title
                    .line
                    .text_small_title Будь оригинальным каждый месяц всего за 1600 руб.
                    .line
                .triggers
                    .trigger
                        .img_trigger
                            img(src='img/star.png')
                        .text_trigger
                            | Уникальные дизайны
                    .trigger
                        .img_trigger
                            img(src='img/hanger.png')
                        .text_trigger
                            | Приятное качество ткани и материалов
                    .trigger
                        .img_trigger
                            img(src='img/car.png')
                        .text_trigger
                            |Доставка по всей России бесплатно
                .more_info
                    button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-text"
                    type='button').fun_button Подробнее
        .separator
        .bg_2
            .container
                .title_header
                    h1.white Что такое Box-fun?
                .container_bg_2
                    .left
                        .top_left
                            .text Новый и
                                strong необычный
                                |  вид сюрприза, предназначенный для повседневно
                                |повседневно жизни
                            .img
                                img(src='img/ico_1.png')
                        .bottom_left
                            .text Вся одежда изготовлена из
                                strong натуральных и приятных
                                | на ощупь матер
                            .img
                                img(src='img/ico_2.png')
                    .center
                        .girl
                            img(src='img/girl.png')
                    .right
                        .top_right
                            .img
                                img(src='img/ico_3.png')
                            .text
                                strong Главная изюминка
                                |- Вы не будете знать, какой дизайн футболки/ху
                        .bottom_right
                            .img
                                img(src='img/ico_4.png')
                            .text
                                strong Гарантируем, что Вам понравится!
                                | Без вопросов обменяем дизайн на другой
        .separator
        .bg_3
            .container
                .title_header
                    h2.red Выберите свой вариант Box-fun
                .container_bg_3
                    .item
                        .box
                            .img_item
                                .box_item
                                    .img_t-shirt
                                        img(src='img/item_1.png')
                                    .img_sweatshirt
                                        img(src='img/item_2.png')
                                    .free
                                        img(src='img/free.png')
                            .body_item
                                h3 Подписка на 3 месяца
                                .switch
                                    .t-shirt
                                        .img_wrapper_t-shirt
                                        span.black_text Футболка
                                    .key
                                        input(type="checkbox" class="checkbox" id="checkbox1" checked=false)
                                        label(for="checkbox1")
                                    .sweatshirt
                                        .img_wrapper_sweatshirt
                                        span.grey_text Толстовка
                                h2 4 980 руб
                                .more_info
                                    button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" type='button').fun_button Заказать
                    .item
                        .box
                            .img_item
                                .box_item
                                    .img_t-shirt
                                        img(src='img/item_1.png')
                                    .img_sweatshirt
                                        img(src='img/item_2.png')
                                    .free
                                        img(src='img/free.png')
                            .body_item
                                h3 Подписка на 6 месяца
                                .switch
                                    .t-shirt
                                        .img_wrapper_t-shirt
                                        span.black_text Футболка
                                    .key
                                        input(type="checkbox" class="checkbox" id="checkbox2" checked=false)
                                        label(for="checkbox2")
                                    .sweatshirt
                                        .img_wrapper_sweatshirt
                                        span.grey_text Толстовка
                                h2 17 770 руб
                                .more_info
                                    button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" type='button').fun_button Заказать
                            .present
                                img(src='img/present.png')
                                | + подарок
                    .item
                        .box
                            .img_item
                                .box_item
                                    .img_t-shirt
                                        img(src='img/item_1.png')
                                    .img_sweatshirt
                                        img(src='img/item_2.png')
                                    .free
                                        img(src='img/free.png')
                            .body_item
                                h3 Подписка на 12 месяца
                                .switch
                                    .t-shirt
                                        .img_wrapper_t-shirt
                                        span.black_text Футболка
                                    .key
                                        input(type="checkbox" class="checkbox" id="checkbox3" checked=false)
                                        label(for="checkbox3")
                                    .sweatshirt
                                        .img_wrapper_sweatshirt
                                        span.grey_text Толстовка
                                h2 35 550 руб
                                .more_info
                                    button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" type='button').fun_button Заказать
                            .present
                                img(src='img/present.png')
                                | + подарок
        .separator
        .bg_4
            .container
                .container_bg_4
                    .certificate
                        img(src='img/certificate.png')
                    .description_certificate
                        .border_description
                            .title_description
                                    h2.white Подарочный сертификат
                            .text_description Сделай подарок для своего друга или подруги!  Подари им подарочный сертификат с помощью которого они смогут бесплатно заказать футболку или толстовку на нашем сайте
                            .button
                                button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-ser" type='button').fun_button Заказать
        .separator
        #how.bg_5
            .container
                .title_header
                    h2.red Как сделать заказ
                .container_bg_5
                    .steps
                        .box_step
                            .circles
                                .circle_step
                                    .internal_step
                                        img(src='img/step_1.png')
                            .text_step Выбираете тип Box-fun и вводите своё имя и телефон
                        .vector_steps
                            img(src='img/vector_bown.png')
                        .vector_steps_small
                            i.fa.fa-angle-double-down
                        .box_step
                            .circles
                                .circle_step
                                    .internal_step
                                        img(src='img/step_2.png')
                            .text_step Оплачиваете он-лайн любым удобным для Вас способом
                        .vector_steps.up
                            .img_wrapper
                                img(src='img/vector_up.png')
                        .vector_steps_small
                            i.fa.fa-angle-double-down
                        .box_step
                            .circles
                                .circle_step
                                    .internal_step
                                        img(src='img/step_3.png')
                            .text_step Наш менеджер связывается с Вами для уточнения деталей заказа
                        .vector_steps
                            img(src='img/vector_bown.png')
                        .vector_steps_small
                            i.fa.fa-angle-double-down
                        .box_step
                            .circles
                                .circle_step
                                    .internal_step
                                        img(src='img/step_4.png')
                            .text_step Доставка посылки на Ваш адрес

                .change_pay
                    .pay_1
                        .img_pay
                            .img_wrapper
                                img(src='img/money.png')
                        .text_pay
                            h2 Способы оплаты:
                            img(src='img/pay.png')
                    .pay_2
                        .img_pay
                            .img_wrapper
                                img(src='img/box.png')
                        .text_pay
                            h2 Бесплатная доставка:
                            .post_office
                                img(src='img/post_office.png')
        .separator
        #reviews.bg_6
            .container
                .title_header
                    h1.white Отзывы клиентов
                .container_bg_6
                    .comment
                        .img_wrapper
                            img(src='img/user_1.png')
                        .text_comment
                            h3 Сергей
                            | «Спасибо за креатив, в США было классно с таким принтом»
                    .comment
                        .img_wrapper
                            img(src='img/user_2.png')
                        .text_comment
                            h3 Дмитрий
                            | «Спасибо за быструю доставку и качество футболки»
                    .comment
                        .img_wrapper
                            img(src='img/user_3.png')
                        .text_comment
                            h3 Слава
                            | «Просто огонь! С таким принтом сталеще счастливее»
                    .comment
                        .img_wrapper
                            img(src='img/user_4.png')
                        .text_comment
                            h3 Анна
                            | «На отдыхе все просили продать футболку, стала клиентом на всег
                .more_info
                    .button
                        button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-review" type='button').fun_button Оставить отзыв
        .separator
        .bg_7
            .container
                .title_header
                    h2.red Остались дополнительные вопросы?
                .more_info
                    .button
                        button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-question" type='button').fun_button Задать вопрос менеджеру
        .separator
        .bg_8
            .container
                .container_bg_8
                    .left_footer
                        .navigation_footer
                            nav
                                a(href="#cost") Стоимость
                                a(href="#subscription") Подписка
                                a(href="#how") Как заказать
                                a(href="#reviews") Отзывы
                        .social
                            .title_social Все интересное:
                            .icons_social
                                .vk
                                    a(href='')
                                        i.fa.fa-vk
                                .facebook
                                    a(href='')
                                        i.fa.fa-facebook
                                .instagram
                                    a(href='')
                                        i.fa.fa-instagram
                    .logo_footer
                        img(src='img/logo_black.png')
                    .contact_footer
                        .text_contact
                            .tel 8 (495) 123-45-67
                            .text
                                i.fa.fa-phone
                                a(href='#' data-toggle="modal" data-target=".bs-example-modal-phone") Заказать обратный звонок



        //button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg") Большая модаль
        div(class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true")
            div(class="modal-dialog modal-lg")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                            i.fa.fa-close
                        h2.modal_title Подписка на 3 месяца
                    .modal-body
                        .change
                            .box_step
                                .switch
                                    .t-shirt
                                        .img_wrapper_t-shirt
                                        span.grey_text Футболка
                                    .key
                                        input(type="checkbox" class="checkbox" id="checkbox4" checked=false)
                                        label(for="checkbox4")
                                    .sweatshirt
                                        .img_wrapper_sweatshirt
                                        span.black_text Толстовка
                            .box_step
                                .switch
                                    .t-shirt
                                        .img_wrapper_man
                                        span.grey_text Мужчина
                                    .key
                                        input(type="checkbox" class="checkbox" id="checkbox5" checked=false)
                                        label(for="checkbox5")
                                    .sweatshirt
                                        .img_wrapper_woman
                                        span.black_text Женщина
                        .theme
                            .theme_header
                                h3 Тематика дизайна:
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-1")
                                label(for="checkbox-1") секс
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-2")
                                label(for="checkbox-2") политика
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-3")
                                label(for="checkbox-3") бизнес
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-4")
                                label(for="checkbox-4") венчур
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-5")
                                label(for="checkbox-5") юмор
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-6")
                                label(for="checkbox-6") стартап
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-7")
                                label(for="checkbox-7") мультфильм
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-8")
                                label(for="checkbox-8") авто
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-9")
                                label(for="checkbox-9") кино
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-10")
                                label(for="checkbox-10") патриотизм
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-11")
                                label(for="checkbox-11") времена года
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-12")
                                label(for="checkbox-12") праздники
                            .theme_view
                                input(type="checkbox" class="checkbox" id="checkbox-13")
                                label(for="checkbox-13") VIP - коллекция от Box-Fun
                        .m_w
                            .theme_header
                                h3 Выберете размер
                                select.selectpicker(title="M").form-select
                                    option(value="1") L
                                    option(value="2") XL
                                    option(value="3") XXL
                        .cont
                            .fio
                                input(type='text' placeholder='Введите Ваше имя').form-control
                            .telephone
                                input(type='text' placeholder='Введите Контактные данные').form-control
                        .more_info
                            .button
                                button(class="btn btn-primary ordering" data-toggle="modal" data-target=".bs-example-modal"
                                type='button').fun_button Оплатить
        div(class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true")
            div(class="modal-dialog modal-lg")
                div(class="modal-content")
                    div(class="modal-content")
                        div(class="modal-header")
                            button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                                i.fa.fa-close
                        .modal-body
                            .thanks
                                h2.white Спасибо!
                                br
                                h3.modal_title Ваша заявка отправлена. Мы свяжемся с Вами в течение 5 минут
        div(class="modal fade bs-example-modal-text" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true")
            div(class="modal-dialog modal-lg")
                div(class="modal-content")
                    div(class="modal-content")
                        div(class="modal-header")
                            button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                                i.fa.fa-close
                            h2.modal_title Заголовок
                            hr
                        .modal-body
                            p.
                                Id key raptorize it. Class variable Silicon Valley. Love argument illustrator. Run our code when the form is submitted inspector script. GitHub header give yourself an auto high-five. Mac Christopher stoked. Jpg cascade cool. Prepend sketch return. Hooli index GitHub. Wes sketch error. JavaScript append paragraph. Team team Gulp. Script Gulp coffee. Syntactically awesome party argument. I'll refactor you section team. Animate value animate. Pied Piper lab software. Haris front-end Christopher. Back-end index I'll refactor you. Software I'll refactor you Ryan. Value variable people. Parameter header Mac. Sketch error Sass. Paragraph hypertext function. Run our code when the form is submitted photoshop Heather. Div jQuery console. Team return inspector. T-Swift photoshop div. Rad method Pied Piper. Sick scrolling marquee CSS3 png. Uncle Drew header Sketch. Uncle Drew let's go surfin' now everybody's learnin' how stoked. Key photoshop Haris. Script.
                            p.
                                Id key raptorize it. Class variable Silicon Valley. Love argument illustrator. Run our code when the form is submitted inspector script. GitHub header give yourself an auto high-five. Mac Christopher stoked. Jpg cascade cool. Prepend sketch return. Hooli index GitHub. Wes sketch error. JavaScript append paragraph. Team team Gulp. Script Gulp coffee. Syntactically awesome party argument. I'll refactor you section team. Animate value animate. Pied Piper lab software. Haris front-end Christopher. Back-end index I'll refactor you. Software I'll refactor you Ryan. Value variable people. Parameter header Mac. Sketch error Sass. Paragraph hypertext function. Run our code when the form is submitted photoshop Heather. Div jQuery console. Team return inspector. T-Swift photoshop div. Rad method Pied Piper. Sick scrolling marquee CSS3 png. Uncle Drew header Sketch. Uncle Drew let's go surfin' now everybody's learnin' how stoked. Key photoshop Haris. Script.

        div(class="modal fade bs-example-modal-review" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true")
            div(class="modal-dialog modal-lg")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                            i.fa.fa-close
                        h2.modal_title Оставить отзыв
                    .modal-body
                        .cont
                            .fio
                                input(type='text' placeholder='Введите Ваше имя').form-control
                            .telephone
                                input(type='text' placeholder='Введите Контактные данные').form-control
                        .cont
                                textarea(rows='10' placeholder='Ваш отзыв').textarea
                        .more_info
                            .button
                                button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-review"
                                type='button').fun_button Отправить
        div(class="modal fade bs-example-modal-question" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true")
            div(class="modal-dialog modal-lg")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                            i.fa.fa-close
                        h2.modal_title Оставить отзыв
                    .modal-body
                        .cont
                            .fio
                                input(type='text' placeholder='Введите Ваше имя').form-control
                            .telephone
                                input(type='text' placeholder='Введите Контактные данные').form-control
                        .cont
                            textarea(rows='10' placeholder='Ваш вопрос').textarea
                        .more_info
                            .button
                                button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-question"
                                type='button').fun_button Отправить
        div(class="modal fade bs-example-modal-phone" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true")
            div(class="modal-dialog modal-lg")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                            i.fa.fa-close
                        h2.modal_title Оставить отзыв
                    .modal-body
                        .cont
                            .fio
                                input(type='text' placeholder='Введите Ваше имя').form-control
                            .telephone
                                input(type='text' placeholder='Введите Контактные данные').form-control
                        .more_info
                            .button
                                button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-phone"
                                type='button').fun_button Отправить
        div(class="modal fade bs-example-modal-ser" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true")
            div(class="modal-dialog modal-lg")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                            i.fa.fa-close
                        h2.modal_title Заказать сертификат
                    .modal-body
                        .cont
                            .fio
                                input(type='text' placeholder='Введите Ваше имя').form-control
                            .telephone
                                input(type='text' placeholder='Введите Контактные данные').form-control
                        .more_info
                            .button
                                button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-ser"
                                type='button').fun_button Отправить

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src='js/bootstrap.min.js')
    script.
        $(document).ready(function () {
            $(".ordering").click(function () {
                $('.modal-backdrop').remove();
                $('.modal').removeClass('in');
                $('body').removeAttr('style');
                $('.bs-example-modal-lg').hide();
            });
        });
    script.
        $(document).ready(function () {
            $('.key input').click(function(){
                var t = ($(this).prop("checked"));
                console.log(t)
                if(t == true) {
                    $(this).parents('.switch').find('.t-shirt span').removeClass('black_text').addClass('grey_text')
                    $(this).parents('.switch').find('.sweatshirt span').removeClass('grey_text').addClass('black_text')
                    $(this).parents('.switch').find('.img_wrapper_t-shirt').css('background-position','0 100%')
                    $(this).parents('.switch').find('.img_wrapper_sweatshirt').css('background-position','32% 0%')
                    $(this).parents('.switch').find('.img_wrapper_man').css('background-position','100% 100%')
                    $(this).parents('.switch').find('.img_wrapper_woman').css('background-position','68% 0%')
                    $(this).parents('.item').find('.img_t-shirt').css('display','none')
                    $(this).parents('.item').find('.img_sweatshirt').css('display','block').addClass('bounceIn')
                }
                if(t == false) {
                    $(this).parents('.switch').find('.t-shirt span').removeClass('grey_text').addClass('black_text')
                    $(this).parents('.switch').find('.sweatshirt span').removeClass('black_text').addClass('grey_text')
                    $(this).parents('.switch').find('.img_wrapper_t-shirt').css('background-position','0 0')
                    $(this).parents('.switch').find('.img_wrapper_sweatshirt').css('background-position','32% 100%')
                    $(this).parents('.switch').find('.img_wrapper_man').css('background-position','100% 0%')
                    $(this).parents('.switch').find('.img_wrapper_woman').css('background-position','68% 100%')
                    $(this).parents('.item').find('.img_t-shirt').css('display','block')
                    $(this).parents('.item').find('.img_sweatshirt').css('display','none')

                }
            });
        });
    script.
        $(document).ready(function(){
            $('a[href^="#"]').bind('click.smoothscroll',function (e) {
                e.preventDefault();

                var target = this.hash,
                        $target = $(target);

                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top
                }, 900, 'swing', function () {
                    window.location.hash = target;
                });
            });

        });
